@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Mukta", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.left {
    float: left;
}
.right {
    float: right;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

/* .container {
    width: 1240px;
    margin: 0 auto;
} */

/* Generic CSS */
/* 
* Header 
*/
.container{
    width: 1240px;
    margin: 0 auto;
}
#header {
    background-color:white;
    color:black;
    padding: 5px 0px;
}
#header a {
    color: #fff;
}
#header .col-1 {
    width: 55%;
}
#header .col-2 {
    width: 25%;
    padding-top: 10px;
    margin-left:20%;
}
 .logo {
    width: 20%;
}
.search {
    width: 70%;
    position: relative;
}
 .search input[type="text"] {
    width: 100%;
    margin-top: 10px;
    border:1px solid rgb(207, 193, 193);
    padding: 5px 10px;
    color: rgb(155, 149, 149);
    font-size: 14px;
    height: 30px;
    
}
 .search .btn {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #a5a1a1;
    font-size: 20px;
    background-color: transparent;
    border: none;

}
.sign-in{
    background-color: rgb(160, 45, 45);
    color: white;
    border: none;
    border-radius: 10% 10% 10%;
    padding: 5px 10px;
    font-size: 13px;
    
}

 .col-2 ul li{
    display: inline-block;
    margin: 0px 10px;
    
}

.subnavbar {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(230, 224, 224,0.3);
    padding-bottom:10px;
}

.navitem {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 120px;
    
    padding-top: 10px;
    
}

ul.navitem li {
    display: inline;
}

.navitem li a {
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px;
}



.navitem li a:hover {
    color: white;
}

.navitem1 {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 148px;
    padding-top: 10px;
}

ul.navitem1 li {
    display: inline;
}

.navitem1 li a {
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 10px;
}



.navitem1 li a:hover {
    color: white;
}

   .main{
            margin-bottom: 50px;
            
            position: relative;
            
        }

        .main img{
            width: 100%;
            height: 70vh;

        }

    

        .main-img img{
            width:220px;
            height: 350px;
            position: absolute;
            top: 10%;
            left: 5%;
            
            
        }

        .main-content{

            width: 30%;
            position: absolute;
            top: 10%;
            left: 24%;
           
        }

        
       

        .main-img:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 15%;
            background-image: linear-gradient(90deg, rgb(61, 60, 60) 0%, black 100%);
        }  

         
        
        .main:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 4%;
            background-image: linear-gradient(90deg,  black 0%,rgb(61, 60, 60) 100%);
            
        }  



        .main-content h2{
            color: white;
            font-weight: bolder;
        }
        .ratings{
            background-color: #404043;
           padding: 10px 15px;
            color: white;
            border-radius: 10px;
           
        }

        .rate-now{
            border: none;
            color: black;
            font-weight: bold;
            background-color: white;
            padding: 5px 20px;
            border-radius: 10px;
            margin-left: 40px;

        }

        .para{
            margin-top: 20px;
            background-color: #e4d7d7;
            border-radius: 4px;
            padding: 1px 4px;
            width: 35px;
        }

        .para1{
            margin-top: 20px;
            border-radius: 4px;
           width: 50%;
            background-color: #d6cbcb;
        }
        .para2{
            color: white;
            font-weight: bold;
        }

        .btn button{
            color: white;
            background-color: #F94464;
            border: none;
            font-weight: bold;
            padding: 10px 25px;
            border-radius: 7px;
            

        }

        

        .about h3{
            font-weight: bold;
        }

        hr{
            width: 75%;
            margin-top: 20px;
        }
        .section2 {
            display: flex;
            width: 75%;
            overflow-x: scroll;
            /* margin: auto; */
            gap: 15px;
            justify-content: space-evenly;
            margin-top: 20px;
            padding-bottom: 30px;
        
           
            font-weight: bold;
            line-height: 28px;
            color: rgb(59, 59, 129);
          }
          .section2-img img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
          }
        
        
          .section2-text{
            color: black;
            font-size: 15px;
            text-align: center;
          }
          .section2-text1{
            color: grey;
            font-size: 12px;
            text-align: center;
            
          }
        
        
          .section3 {
            display: flex;
            width: 75%;
            /* overflow-x: scroll; */
            /* margin: auto; */
            gap: 15px;
            justify-content: space-evenly;
            margin-top: 20px;
            padding-bottom: 30px;
        
           
            font-weight: bold;
            line-height: 28px;
            color: rgb(59, 59, 129);
          }
          .section3-img img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
          }
          
        
          .section3-text{
            color: black;
            font-size: 15px;
            text-align: center;
          }
          .section3-text1{
            color: grey;
            font-size: 12px;
            text-align: center;
            
          }
          .reviews{
            width: 90%;
          }
        
          #section4 {
          
            padding-top: 20px;
            padding-bottom: 20px;
            
         
            
           
          
        }
        
        #section4 h4 {
            margin-top: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        #section4 .left {
            width: 20%;
            margin-right: 20px;
        }
        #section4 img {
            width: 100%;
            margin-bottom: 10px;
        }
        #section4 a {
            color: #000;
        }
        #section4 h6 {
            margin-bottom: 10px;
            font-weight: 600;
        }
        #section4 a span {
            color: rgb(102, 102, 102);
            
        }
        
        .buttons{
            display: flex;
            overflow-x: scroll;
            padding-bottom: 30px;
            gap: 20px;
            width: 85%;
        }
        #cards{
            display: flex;
            overflow-x: scroll;
            width: 75%;
            
        }
        .box{
            width: 200px;
            
        }
        
        .box img{
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar {
            width: 1px; 
            scrollbar-width:thin;
        }
        
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* color of the track */
            border-radius: 8px; /* roundness of the track */
        }
        
        ::-webkit-scrollbar-thumb {
            background: #0e3051; /* color of the draggable part */
            border-radius: 10px; /* roundness of the thumb */
        }
        /* hide the scrollbar arrow in Edge */
        /* vertical scrollbar */
        ::-webkit-scrollbar-thumb:vertical {
            border: 2px solid transparent;
            background-clip: content-box;
        }
        
        /* horizontal scrollbar */
        ::-webkit-scrollbar-thumb:horizontal {
            border: 4px solid transparent;
            background-clip: content-box;
        }


.footer{
    padding-top: 40px;
   

    width: 100%;
    height: 30vh;
    background-color: rgb(45, 45, 45);
}
.liys{
    height: 10%;
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.liysl{
    width: 75%;
    height: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.liysl h3{
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.liysl p{
    font-size: 15px;
  
    
}
.liysr{
   
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.cus{
    margin-top: 30px;
    height: 20vh;
    width: 100%;
    color: rgb(176, 177, 178);
    background-color: rgb(90, 87, 87);
    
}
.cus ul{
    height: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.cus img{
    width: 65px;
    height: 65px;
   
}

#footer_section_1{
    background-color: #404043;
}
.foot-img img{
    width: 100%;
    height: 15vh;
}

#footer_section_1 .left{ 
width: 33%;
}

#footer_section_1 img{
    width: 34%;
    margin-left: 36px;
}

#footer_section_1 a{
color: #F3FFFF;
}

#footer_section_1_div_1{
    padding-top: 10px;
}

#footer_section_1_div_2{
    padding-top: 25px
}

#footer_section_2{
    background-color: #333338;
    padding-bottom: 1px;
    }

#footer_section_2 h4{
    
    padding-top: 20px;
    font-size: 12px;
    color: #808383;
}

   
    #footer_section_2 ul li{
        display: inline-block;
    
    }

    #footer_section_2 ul li a{
        color: #929292;
        font-size: 11px;

    }

    #footer_section_3{
        background-color: #333338;
        padding-top: 40px;
        position: relative;
        /* z-index: -3; */
    
    }
    
    #footer_section_3 h1 {
        text-align: center;
        position: relative;
    }
    #footer_section_3 h1.text {
        position: relative;
        /* z-index: 11; */
    }
   
    
    #footer_section_4{
        background-color: #333338;
    }
    
    #footer_section_4 ul{
        text-align: center;
    }
    
    #footer_section_4 li{
        padding-top: 30px;
        display: inline-block;
        
        
    }
    
    
    #footer_section_4 svg{
        height:40px;
    }
    
    #footer_section_5 {
        background-color: #333338;
        padding-top: 20px;
    }
    
    #footer_section_5 div{
        text-align: center;
        font-size: 12px;
        padding-bottom: 20px;
        color: #929494;
    
    }